name: Build and Release

on:
  workflow_dispatch:
  push:
    tags:
      - v*

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch:
          - x86_64

    steps:
    - name: Checkout source
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        path: luci-app-tailscale

    - name: Build
      uses: openwrt/gh-action-sdk@v10
      env:
        ARCH: ${{ matrix.arch }}
        PACKAGES: luci-app-tailscale

    # - name: Create GitHub Release
    #   uses: softprops/action-gh-release@v2
    #   with:
    #     files: bin/packages/packages/${{ matrix.arch }}/*.apk bin/packages/${{ matrix.arch }}/packages/*.ipk
    #     generate_release_notes: true

    - name: Store packages
      uses: actions/upload-artifact@v6
      with:
        name: ${{ matrix.arch}}-packages
        path: bin/packages/${{ matrix.arch }}/packages/*.apk bin/packages/${{ matrix.arch }}/packages/*.ipk