name: Build and Release

on:
  workflow_dispatch:
  push:
    tags:
      - v*

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        path: luci-app-tailscale

    - name: Build
      uses: openwrt/gh-action-sdk@v10
      env:
        ARCH: x86_64
        PACKAGES: luci-app-tailscale

    - name: Create GitHub Release
      uses: softprops/action-gh-release@v2
      with:
        files: bin/packages/packages/*.apk
        generate_release_notes: true

    # - name: Store packages
    #   uses: actions/upload-artifact@v2
    #   with:
    #     name: packages
    #     path: bin/packages/packages/*.apk